<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Living Paper Bag 🛍</string>
		<key>health</key>
		<integer>10</integer>
		<key>time</key>
		<integer>10</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Angry Boy 😡</string>
		<key>health</key>
		<integer>45</integer>
		<key>time</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Meatball Master🍝</string>
		<key>health</key>
		<integer>60</integer>
		<key>time</key>
		<integer>30</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>Goat 🐐</string>
		<key>health</key>
		<integer>70</integer>
		<key>time</key>
		<integer>62</integer>
	</dict>
	<dict>
		<key>name</key>
		<string>[BOSS] Snake 🐍</string>
		<key>health</key>
		<integer>100</integer>
		<key>time</key>
		<integer>30</integer>
	</dict>
</array>
</plist>
